<%- include('./partials/header') %>

<div class="container-fluid text-white" id="bands" style="background-image: url('<%= bg %>');">
  <h1 style="position: relative; left: 100px; top:350px;"><%= title %></h1>
    <p style="position: relative; left: 100px; top:350px;"><%= desc %></p>
  
</div>

<footer>
  <%- include('./partials/footer') %>
</footer>

</body>
</html>