<%- include('./partials/header') %>

<div class="container-fluid text-white d-flex align-items-center" id="bands" style="background-image: url('<%= bg %>'); height: 800px;">
  <div class="mx-auto bg-dark p-5 rounded" style="max-width: 500px;">
    <h1><%= title %></h1>
    <label><%= user %></label>
    <input class="form-control mb-3" type="text" placeholder="Username">
    <label><%= pass %></label>
    <input class="form-control mb-3" type="password" placeholder="Password">
    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" id="cookie">
      <label class="form-check-label" for="cookie">Remember this browser</label>
    </div>
    <button class="btn btn-danger w-100"><%= btn %></button>
  </div>
</div>


<footer>
  <%- include('./partials/footer') %>
</footer>

</html>